<html>
	<head>
		<link rel=stylesheet type=text/css href = '{{url_for('static', filename='styles.css')}}'>
	</head>
	
	<body>
		<div class = 'pane'>
			<div class 'header'>
				<h1>Categories</h1>
			</div>
			<a href = '{{url_for('newCategory')}}'>Create New Category</a>
			
			<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
					<li><strong> {{ message }} </strong></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</div>
			
			{% for category in categories %}
			<div class = 'name'>
				<span class = 'name'><p>{{category.name}}</p></span>
			</div>
			
			<div class = 'description'>
				<span><p>{{category.description}}</p></span>
			</div>
			
			<div class = 'editdeletepane'>
				<a href = '{{url_for ('editCategory', category_id = category_id)}}'>Edit</a>
				<a href = '{{url_for ('deleteCategory', category_id = category_id)}}'>Delete</a>
			</div>
			{% endfor %}
			
			
		</div>
	</body>		
</html>